.home {
  width: 100%;
  align-items: center;
  padding: 0;
  margin: 0;
}

.about {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.about-title {
  text-align: center;
  font-size: 30px;
  color: #ADCCD2;
  padding: 20px;
}

.profilePhoto {
  width: 20%;
  height: 25%;
  border-radius: 70%;
  padding: 20px;
}

.about-blurb {
  color: #ADCCD2;
  padding: 20px;
}

.aboutSection {
  padding: 20px;
  width: 60%;
}

.about-text {
  color: #5693AD;
  font-size: 20px;
}

.igPhoto {
  width: 20%;
  height: 30%;
  border-radius: 70%;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
.home {
  margin: 0;
  padding: 0;
}

  .about .title {
    font-size: 40px;
  }

  .about {
    margin-top: 10px;
    font-size: 14px;
    width: 100;
  }

  .profilePhoto {
    width: 100%;
    height: 100%;
  }

  .aboutSection {
    width: 100%;
  }

  .igPhoto {
    width: 100%;
    height: 100%;
  }
}

