.home {
  width: 100%;
  align-items: center;
  padding: 0;
  margin: 0;
}

.about {
    width: 100%;
    height: calc(100vh - 360px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #91BFBC;
    margin: 0;
    padding: 0;
  }

  .about-title {
    text-align: center;
    font-size: 30px;
    color: #C0D4DB;
  }

  .about-text {
    color:#91BFBC;
    font-size: 20px;
  }
  