.footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    margin-top: 220px;
  }

   svg {
    color: #91BFBC;
    margin: 20px;
    font-size: large;
    cursor: pointer;
  }

  svg:hover {
    opacity: 70%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  p {
    color: #C0D4DB;
  }