.header .headerphoto {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: calc(40vh - 20px);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
