.portfolio {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .portfolio .title {
    text-align: center;
    color: #C0D4DB;
    font-size: 30px;
    padding: 20px;
  }
  
  .projectsList {
    width: 90vw;
    height: auto;
    place-items: center;
    padding: 5px;
  }

  .card-title {
    color: #C0D4DB;
  }

  .card-text {
    color: #91BFBC;
  }
